/*-----------------
      SASS
-----------------*/

$colors : (
    main: #333,
    accent:#e000f0,
    light: #e0e0e0,
    dark-blue: #1e1e27,
    white-over-bg: rgba(255, 255, 255, .9)
);

html,
body {
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: map-get($colors, light);
    color: map-get($colors, main);
    text-align: center;
  }

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
/*-----------------
      TYPOGRAPHY
-----------------*/

h1,
h2,
.main__subtitle,
.main__logo,
.main__btn{
    margin-top: 0;
}

h1,
h4,
.main__subtitle,
.main__btn
    {
    text-transform: uppercase;
  }
  
  h1{
    margin-top: 0;
    margin-bottom: .5em;
    color: map-get($colors, accent);
    font-size: 1.45em;
    letter-spacing: .01em;
  }

  .title{
    color: map-get($colors, accent);
    border: 3px solid map-get($colors, accent);
    display: inline-block;
    padding: .25em .5em;
    margin-bottom: 1em;
    border-radius: .025em;
    font-size: 1.25em;
  }

  .paragraph {
      margin-bottom: 2em;
  }
  
  a {
    text-decoration: none;

    &:focus{
        outline-color: map-get($colors, accent);
        outline-width: 2px;
    }
  }

  .link{
    text-decoration: underline;
    color: map-get($colors, white-over-bg);
    font-weight: 600;
    transition: color 100ms ease-in;

    &:hover,
    &:focus{
        color: map-get($colors, accent);
    }

    &__dark{
        color: map-get($colors, main);
    }
  }

  /* Button */

  .btn{
    cursor: pointer;
    font-size: .85em;
    font-weight: 700;
    display: inline-block;
    margin: 0 auto;
    border: 2px solid map-get($colors, light);
    padding: 1.25em 1.5em;
    border-radius: 1.25em;
    transition: all 100ms ease-in;
  }

  /* Forms generals */

  form{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em 0;
      padding-bottom: 0;
  }

  .input,
  textarea,
  .submit{
    box-shadow: 5px 7px 5px rgba(0, 0, 0, .3);
  }

  .input,
  textarea{
    appearance: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    width: 16rem;
    margin: .75em 0;
    padding: .75em .75em;
    font-size: .9em;
    border: none;
    border-radius: none;
  }

  .input:hover,
  .input:focus,
  textarea:hover,
  textarea:focus
  {
    outline-color: map-get($colors, accent);
    outline-width: 2px;
  }

  .submit{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    margin-top: 1em;
    padding: 1em 2em;
    border: 2px solid map-get($colors, accent);
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 600;
    background-color: map-get($colors, accent);
    color: map-get($colors, white-over-bg);
    transition-duration: 50ms;

    &:hover,
    &:focus{
        outline: none;
        border: 2px solid map-get($colors, white-over-bg);
        background-color: transparent;
    }
}


  
/*-----------------
        LAYOUT
-----------------*/

section {
    padding: 2rem .75rem 2rem;
    
}
  
.flex-container{
    display: flex;
    flex-direction: column;
  }

.section-image{
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 700px;
}

.card {
    background-color: map-get($colors, light);
    color: map-get($colors, main);
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2em;

    &__img{
        display: block;
        width: 100%;
    }
}

/* HEADER */

header{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    height: 3.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
}

.header-top-container{
    padding: 1em 2em;
}

.ham{
    cursor: pointer;
    padding: .25em;
    margin-top: 1em;
    margin-left: 2em;

    & span{
        position: relative;
        display: block;
        width: 2.25em;
        height: 3px;
        background-color: map-get($colors, white-over-bg);

        &::before,
        &::after{
            content: "";
            display: block;
            height: 3px;
            background-color: map-get($colors, white-over-bg);
        }

        &::before{
            position: relative;
            top: -7px;
            margin-left: 0;
            width: 1.125em;
        }

        &::after{
            position: relative;
            bottom: -4px;
            margin-right: 0;
            width: 1.5em;
        }
    }
}

.login{
    color: map-get($colors, white-over-bg);
    margin-top: 1em;
    margin-right: 2em;
    
    &__link{
        color: map-get($colors, accent);
        font-weight: 700;
        font-size: .9em;
        transition: all 150ms ease-in-out;

        &:hover,
        &:focus{
            color: map-get($colors, white-over-bg);
            outline: 0;
        }

        & span{
            margin: 0 .5em;
            vertical-align: top;
        }
    }
}

.menu{
    order: 3;
    flex-basis: 100%;
    padding: 1em 0;
    margin: 0;
    margin-top: 1em;
    background-color: rgba(255, 255, 255, 0.95);
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 250ms ease-in-out;

    &__ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__item{
        padding: .5em 0;

        &:hover,
        &:focus{
            font-weight: 600;
        }
    }

    &__link{
        color: map-get($colors, main);
        text-transform: uppercase;
        font-size: .9em;
    }

    .selected{
        font-weight: 600;

        &::after{
            content: "";
            width: 2em;
            height: 2px;
            display: block;
            margin: 0 auto;
            background-color: map-get($colors, main);
            border-radius: .25em;
            margin-top: .25em;
        }
    }
}

.ham-login{
    text-align: center;
    margin-top: 1em;
    margin-right: 0;

    & a{
        color: map-get($colors, main);
    }
}

.open-menu{
    transform: scale(1, 1);
    transform-origin: top;
}

/*-----------
  INDEX PAGE 
-----------*/

/* MAIN */
  
.main {
    background-image: url("../../images/home-background-blur.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-top: 8em;  

    &__logo{
        display: block;
        max-width: 12em;
        margin: 0 auto;
        margin-bottom: 4em;
    }

    &__subtitle {
      color: map-get($colors, light);
      font-weight: 700;
      font-size: .85em;
      margin-top: 0;
      margin-bottom: 1.5em;
    }

    &__btn {
      margin-top: 2em;
      border-radius: .5em;
      background: map-get($colors, accent);
      color: map-get($colors, white-over-bg);
      border: 2px solid map-get($colors, accent);
    
      &:hover{
        background: transparent;
        /* color: map-get($colors, accent); */
        }
    }
}

/* ABOUT US */

.mission{
    background-color: map-get($colors, dark-blue);
    color: map-get($colors, white-over-bg);
    padding: .75em .5em;
    max-width: 700px;
    margin: 0 auto;
    box-sizing: border-box;

    & .paragraph{
        text-align: center;
    }
}

.about-us {

    &__people{
        margin-top: 2.5rem;

        &__title {
            font-size: 1.25em;
            margin-bottom: 0;

            &::after{
                content: "";
                display: block;
                width: 30px;
                height: 2px;
                margin: 0 auto;
                margin-top: .5em;
                background-color: map-get($colors, main);
            }
        }
    }

    &__person{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;

        &__name{
            text-transform: capitalize;
            margin: 0;
            margin-top: .75em;
        }

        &__role{
            text-transform: uppercase;
            font-size: .75em;
            margin-top: .5em;
            margin-bottom: 0;
        }

        &__img{
            height: 180px;
            max-width: 150px;
            object-fit: cover;
            order: -1;
            clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
        }

        &__bio{
            font-size: .95em;
            width: 80%;
        }

        &::after{
            content: "";
            display: block;
            width: 50%;
            height: 2px;
            margin: 0 auto;
            margin-top: .5em;
            background-color: map-get($colors, main);
            opacity: .5;
        }

        &:last-child::after{
            display: none;
        }
    }
}

/* SERVICES */

.services{
    background-color: map-get($colors, main);
    color: map-get($colors, white-over-bg);

    &__subtitle{
        font-weight: 700;
    }

    &__card{
        border-radius: .5em;
        position: relative;

        &__link{
            position: absolute;
            display: block;
            /* background: rgba(255, 255, 255, 0.5); */
            width: 100%;
            height: 100%;
            /* opacity: 0; */
            transition: all 300ms ease-in;
            
            &:hover{
                opacity: 1;
            }

            & div {
                //mobile only 
                background-color: rgba(0, 0, 0, 0.3);
                //
                width: 100%;
                height: 150px;
                display: flex;
                align-items: flex-end;
                position: absolute;
                bottom: 0;
            }

            &__btn {
                /* color: map-get($colors, main);
                border-color: map-get($colors, main); */
                display: block;
                margin-bottom: 3em;
                color: #fff;
                border-color: #fff;
                padding: 1em 2em;
                font-size: 1em;

                &:hover{
                    color: #fff;
                    background-color: map-get($colors, main);
                }
            }
        }
        
        &__paragraph{
            padding: 0 .75em;
        }

        &__img{
            max-height: 150px;
            object-fit: cover;
        }

        &__img,
        & div {
            border-bottom-left-radius: .5em;
            border-bottom-right-radius: .5em;
        }
    }
}

/* PROJECTS */

.projects{

    &__card{
        position: relative;
        background-color: map-get($colors, dark-blue);

        &__title{
            position: absolute;
            margin: 0;
            top: 40%;
            left: 0;
            right: 0;
            color: #fff;
            /* font-size: 1.75em; */
            font-size: 1.25em;
            font-weight: 600;
            opacity: 1;
            transition: all 300ms ease-in-out;
            z-index: 2;

            &::after{
                content: "";
                display: block;
                height: 2px;
                width: 40%;
                background-color: #fff;
                margin: 0 auto;
                margin-top: .5em;
            }
        }

        //FOR MEDIA DESKTOP
        /* &__link{
            &:hover img,
            &:focus img{
                opacity: .2;
            }
            &:hover h4,
            &:focus h4 {
                opacity: 1;
            }
        } */

        &__img{
            max-height: 150px;
            object-fit: cover;
            opacity: .3;
            transition: all 300ms ease-in-out;
        }
    }
}

/* CONTACTS */

.contacts{
    background-color: map-get($colors, main);
    color: map-get($colors, white-over-bg);
}

.contact-form{
    padding-top: 0;

    &__textarea{
        box-sizing: border-box;
        width: 16rem;
        margin: .75em 0;
    }
}

/* FOOTER */

.footer{
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2em 2em;
    background-color: map-get($colors, dark-blue);

    &__logo{ 
        flex-basis: 100%;
        padding-bottom: 2.6em;
        
        &::after{
            content: "";
            display: block;
            margin: 0 auto;
            width: 100%;
            height: 1px;
            position: relative;
            top: 1.3em;
            background-color: map-get($colors, white-over-bg);
        }
        //for media query
        /* display: flex;
        justify-content: space-between;

        &__img,
        &__whitespace{
            width: 30%;
            margin: 0;
        } 
        */  
        &__img{
            display: block;
            margin: 0 auto;
            max-width: 4.25em;
        }

        &__whitespace{
            display: none;
        }
    }

    &__menu,
    &__side{
        flex-basis: 48%;
    }

    &__menu{
        & ul{
            margin: 0;
            text-align: left;
        }

        &__item{
            margin: .5em 0;

            &:first-of-type{
                margin-top: 0;
            }
        }

        &__link{
            color: map-get($colors, white-over-bg);
            font-size: .9em;
            text-decoration: underline;
            transition: all 50ms ease-in;

            &:hover,
            &:focus{
                color: map-get($colors, accent);
            }
        }
    }

    &__side{
        text-align: right;
        
        &__link{
            display: block;
            font-size: .9em;
            margin-bottom: .5em;
        }
    
        &__social{
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 1em;

            &__title{
                flex-basis: 100%;
                color: map-get($colors, white-over-bg);
                font-size: .8em;
                padding-bottom: .5em;
            }
        }
    }

    &__copyright{
        display: block;
        margin: 0 auto;
        margin-top: 1.5em;
        color: rgba(255, 255, 255, .6);
        font-size: .75em;
        text-align: center;
    }
}


.social-link{
    color: map-get($colors, white-over-bg);
    margin-bottom: .75em;
}

/* INDEX MEDIA QUERIES */

@media (min-width: 650px){

    h1{
        font-size: 2em;
        font-weight: 600;
        letter-spacing: initial;
    }

    .title{
        font-size: 1.4em;
    }

    section{
        padding: 3rem 15%;
    }

    .card{
        margin-bottom: 3em;
        width: 70%;

        &:last-of-type{
            margin-bottom: 0;
        }
    }
    
    .main{

        &__logo{
            max-width: 14em;
            margin-top: 5em;
        }

        & h1 {
            font-size: 1.75em;
        }

        &__subtitle{
            font-size: 1em;
            font-weight: 600;
            letter-spacing: 0.025em;
        }

        &__btn{
            margin-top: 5em;
        }
    }

    .services{
        &__card{

            &__title{
                margin-top: 1.5em;
            }

            &__paragraph{
                padding: 0 1.5em;
            }
        }
    }

    .contact-form{
        &__input,
        & textarea{
            width: 19rem;
        }
    }
}

@media (min-width: 1100px){

    section{
        padding-top: 4em;
        padding-bottom: 4em;
    }

    .flex-container{
        flex-direction: row;
        /* flex-wrap: wrap; */
        justify-content: space-between;
    }

    .card{
        width: 30%;
        margin: 0;
    }

    .paragraph{
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    header{

        .ham{
            display: none;
        }

        .login{
            margin-top: 0;
        }

        .menu{
            order: 2;
            flex-basis: unset;
            transform: scale(1, 1);
            background-color: transparent;
            padding: 0;
            margin-left: 2em;
            margin-top: 0;

            &__ul{
                flex-direction: row;
            }

            &__item{
                margin-right: .75em;
                padding: 0;
            }

            &__link{
                color: map-get($colors, white-over-bg);
            }

            .selected{
                &::after{
                    background-color: map-get($colors, white-over-bg);
                }
            }

            .item-login{
                display: none;
            }
        }

        .login{
            order: 3;
        }
    }

    .main{

        & .flex-container{
           flex-direction: column;
            margin-top: 4em;
        }

        &__logo{
            max-width: 12em;
            margin: 0 auto;
            margin-top: 4em;
        }

        &__text{
            margin-top: 4.5em;
        }

        &__subtitle{
            margin-bottom: 0;
        }

        &__btn{
            margin-top: 6em;
        }
    }
}

@media (min-width: 1300px){

    section{
        padding: 4em 20%;
    }
}

/*----------------------------
  LOGIN PAGEGE / SIGN UP PAGE
----------------------------*/

.login-title{
    margin-top: 5em;
    font-size: 1.5em;
    color: map-get($colors, accent);
    font-weight: 600;
    text-transform: uppercase;
}

.login-container{
    margin: 0 auto;
    width: 90%;
    margin-top: 2em;
    margin-bottom: 6em;
    background-color: map-get($colors, main);
    padding: 2em 0;

    &__title{
        color: map-get($colors, white-over-bg);
        font-size: 1.25em;
        font-weight: 600;
    }

    &__form{

        &__link{
            display: block;
            color: map-get($colors, white-over-bg);
            text-decoration: underline;
            align-self: flex-start;
            width: 13.5rem;
            font-size: .85em;
            margin-top: .75em;
            margin-bottom: 1.5em;

            &:hover,
            &:focus{
                color: map-get($colors, accent);
            }
        }
    }

    &__signup{
        margin-top: 2.5em;
        color: map-get($colors, white-over-bg);
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 0;

        &__link{
            font-weight: 400;
            text-decoration: underline;
            color: map-get($colors, white-over-bg);
        }
    }
}

/* GENERAL MEDIA QUERY */

@media (min-width: 700px){

    .submit{
        margin-top: 1.5em;
    }

    .footer{
        padding: 2em 15%;

        &__side{
            &__social{
                width: 70%;

                &__title{
                    padding-bottom: 1.25em;
                }
            }
        }
    }
}